{{#if loggedIn}}
<div class="login-form">

    <form class="form-sign">
        <div class="form-group">
            <input id="name" type="text" class="form-control" placeholder="Name" required="required">
        </div>
        <div class="form-group">
            <input id="email" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input id="phone" class="form-control" placeholder="Phone number" required="required">
        </div>
        <div class="form-group">
            <button id="clientsubmit">submit</button>
            <h3 id="clientadd">New Client Is Added</h3>
        </div>
    </form>
</div>
{{else}}
<p>You must Login to add client</p>
{{/if}}
<script src="/js/newclient.js"></script>