{{#if loggedIn}}
<div style="height: 450px;width:500px;border-width:2px;border-style:solid;margin-left:500px;background-color:#a39484"
    class="col-md-6">

    <h2 id="heading" style="text-align: center;text-decoration-line: underline;padding-top:20px;padding-bottom:20px;"
        id="new-invoice-heading">New Invoice</h2>

    <div class="col-md-6">
        <form class="form-group">
            <div class="form-group">



                <label style="margin-left:30px;font-weight: bold;"> Client Name</label>
                <select style="margin-left:30px" name="name" id="names">
                    {{#each allClients as |Client| }}

                    <option value={{Client.id}} id={{Client.id}}>{{Client.client_name}}</option>
                    {{/each}}
                    {{!-- <input id="id" type="text" class="form-control" placeholder="Clientid"> --}}
                </select>


                </select>
                {{!-- <input id="id" type="text" class="form-control" placeholder="Clientid"> --}}

            </div>


            <div class="form-group">
                <label style="margin-left:30px;font-weight: bold;"> Amount</label>
                <input style="margin-left:30px" id="amount" type="text" class="form-control" placeholder="Enter Amount">
            </div>

            <div class="form-group">
                <label style="margin-left:30px;font-weight: bold;"> Due Date</label>
                <input style="margin-left:30px" id="ddate" type="text" class="form-control" placeholder="Due Date">

            </div>

            <div class="form-group">
                <label style="margin-left:30px;font-weight: bold;"> Notes</label>
                <input style="margin-left:30px" id="memo" type="text" class="form-control" placeholder="Notes">

            </div>
            <div class="form-group">





                <button style="margin-left:30px;background-color: black;color:aliceblue" class="btn" id="newinvoice"
                    type="submit">Create And Send Email</button>
            </div>
            <h3 id="invoiceadd">New Invoice Is Added</h3>

    </div>
    </form>

</div>
{{else}}
<p>You must Login to add Invoice</p>
{{/if}}

<script src="/js/newinvoice.js"></script>